SUWAYOMI_HTTP="http://suwayomi:4567"
SUWAYOMI_WS="ws://suwayomi:4567/api/graphql"
SUWAYOMI_USERNAME="USERNAME"
SUWAYOMI_PASSWORD="PASSWORD"
APPRISE_API_URL="http://apprise-api:8000"
APPRISE_TARGET="tgram://TOKEN/CHAT_ID"
APPRISE_TAGS="suwayomi"
APPRISE_FORMAT="text"
LOG_LEVEL="info"
